.DS_Store
/node_modules/
.env

# React Router
/.react-router/
/build/

# react-email
/react-email-starter/node_modules/

# macOS metadata files
._*
.DS_Store?
ehthumbs.db
Thumbs.db

# Sentry Config File
.env.sentry-build-plugin
